@{
    ViewData["Title"] = "Login";
}
<div class="login-wrapper">
    <div class="box-login-main">
        <form class="form-horizontal" roles="form-horizontal">
            <Label>Email</Label>
            <input type="text" name="Email" class="form-control"id="text_email" placeholder="Email">
            <Label>Password</Label>
            <input type="Password" name="Password" class="form-control"id="text_password" placeholder="Password">
        </form>
    </div>
</div>