@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}
<div class="login-wrapper">
        <h2>Form Đăng Nhập</h2>
    <div class="box-login-main">
        <form class="form-horizontal" roles="form-horizontal">
            <Label class="label-text">Email</Label>
            <input type="text" name="Email" class="form-control"id="text_email" placeholder="Email">
            <Label class="label-text">Password</Label>
            <input type="Password" name="Password" class="form-control"id="text_password" placeholder="Password">
        </form>
        <div class="box-login-btn">
            <button class="btn btn-primary btn-login"  id="loginbtn">Login</button>
        </div>
    </div>
</div>

<div class="register-wrapper">
    <h2>Form Đăng Ký</h2>
    <div class="box-register-main">
        <form class="form-horizontal" roles="form-horizontal">
            <Label class="label-text">Email</Label>
            <input type="text" name="Email-Register" id="register_Email" placeholder="Nhập địa chỉ Email">
            <Label class="label-text">PassWord</Label>
            <input type="Password" name="PassWord-Register" id="register_PassWord" placeholder="Nhập Password">
            <Label class="label-text">Confirm Password</Label>
            <input type="Password" name="Confirm-Password-Register" id="register_ConfirmPassword" placeholder="Nhập địa chỉ Email">
            <Label class="label-text">First Name</Label>
            <input type="text" name="FirstName-Register" id="register_FirstName" placeholder="Nhập FirstName">
            <Label class="label-text">Last Name</Label>
            <input type="text" name="LastName-Register" id="register_LastName" placeholder="Nhập LastName">
        </form>
        <div class="box-register-btn">
            <button class="btn btn-primary btn-register" id="registerbtn">submit</button>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $("#loginbtn").click(() => {
            $.ajax({
            type: "POST",
            url: "/Account/LoginMethod",
            data: {
                Email: $("#text_email").val(),
                PassWord: $("#text_password").val(),
            },
            dataType: "json",
            success: function (res) {
                if (res.resault == "Đăng Nhập Thành Công") {
                    alert("đăng nhập thành công");
                    window.location.href = "/Home/Index";
                }
                else {
                    alert("Đăng nhập không thành công");
                }
            },
            error: function (res) { console.log(res); }
            }).then((res) => {
                console.log(res);
            })
        })
        $("#registerbtn").click(()=>{
            $.ajax({
                type: "POST",
                url: "/Account/RegisterMethod",
                data: {
                    FirstName: $("#register_FirstName").val(),
                    LastName: $("#register_LastName").val(),
                    Email: $("#register_Email").val(),
                    Password: $("#register_PassWord").val()
                },
                dataType: "json",
                success: function (res) {
                    if(res.resault == "Đăng Ký Thành Công")
                        alert("Đăng ký thành Công");
                    else
                        alert("Đăng ký không thành công");
                },
                error: function (res) { console.log(res);},
            })
        })
    </script>
}